**/*.galaxy linguist-language=C
**/BankList.xml linguist-detectable
**/*.SC2Components linguist-detectable
**/Attributes linguist-detectable
**/DocumentInfo linguist-detectable
**/*.SC2Components linguist-language=XML
**/Attributes linguist-language=XML
**/DocumentInfo linguist-language=XML
NF1B_SCEvoMulti.SC2Mod/Base.SC2Data/GameData/*.xml linguist-detectable
**/*.version filter=lfs diff=lfs merge=lfs -text
**/DocumentHeader filter=lfs diff=lfs merge=lfs -text
**/MapInfo filter=lfs diff=lfs merge=lfs -text
**/Minimap.tga filter=lfs diff=lfs merge=lfs -text
**/t3* filter=lfs diff=lfs merge=lfs -text
